p {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}

body {
    font-family: 'Saira Semi Condensed', sans-serif;
    background: #ccc;
}
                    
.dropdown{
	position:relative;
	display:inline-block;
	z-index: 99;
}

.dropdown-btn{
	padding: 10px;
    background: #333;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 10px 27px;
  font-family: 'Saira Semi Condensed',    sans-serif;
  font-size:14px;
}

.dropdown-transition .dropdown-content{
	display:block;
	visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position:absolute;
	min-width:100px;
	background:#fff;
	padding:10px;
}

.dropdown-transition:hover .dropdown-content{
	visibility: visible;
    opacity: 1;
}

.dropdown-content a{
	text-decoration:none;
	margin: 10px 0;
	display:block;
	color: #07a;
	font-size: 12px;
}

.dropdown-content::before {
  position: absolute;
  content: '';
  border: 5px solid transparent;
  z-index: 1;
  bottom: 100%;
  border-top-width: 0;
  border-bottom-color: #fff;
  left: 25px;
}

.dropdown-content p {
    text-decoration: none;
    margin: 10px 0;
    display: block;
    color: #666;
    font-size: 12px;
    width:300px;
}
                          
	.dropdown-transition .dropdown-content{
	display:block;
	-webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.dropdown-transition:hover .dropdown-content{
	-webkit-transform: scale(1);
    transform: scale(1);
}											
