<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://unpkg.com/@atlaskit/css-reset@2.0.0/dist/bundle.css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://connect-cdn.atl-paas.net/all.js" async></script>
</head>

<body>
    <h3>Related Confluence discussions:</h3>
    <p>{{description}}</p>
    <ul>
        <li><a href="https://confluence.atlassian.com/alldoc/atlassian-documentation-32243719.html"
                target="_blank">Meeting Record</a>
        </li>
        <li><a href="https://confluence.atlassian.com/alldoc/atlassian-documentation-32243719.html" target="_blank">Blue
                Print</a></li>
    </ul>
</body>

</html>