<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://unpkg.com/@atlaskit/css-reset@2.0.0/dist/bundle.css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
         <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://connect-cdn.atl-paas.net/all.js" async></script>
</head>

<body>
    <h3>The Issue summarized, and compared with other confluence issues.</h3>
    <h4> {{issue_key}}</h4>
    <p>{{description}}</p>

     <div>

<div class="dropdown dropdown-transition">
  <button class="dropdown-btn">{{best_title}}</button>
  <div class="dropdown-content">
	<a href="{{best_link}}">{{best_link}}</a>
	<p>{{best_disc}}</p>
  </div>
</div>

<div class="dropdown dropdown-transition">
  <button class="dropdown-btn">{{title2}}</button>
  <div class="dropdown-content">
	<a href="{{link2}}">{{link2}}</a>
	<p>{{disc2}}</p>
  </div>
</div>

<div class="dropdown dropdown-transition">
  <button class="dropdown-btn">{{title3}}</button>
  <div class="dropdown-content">
	<a href="{{link3}}">{{link3}}</a>
	<p>{{disc3}}</p>
  </div>
</div>

<div class="dropdown dropdown-transition">
  <button class="dropdown-btn">{{title4}}</button>
  <div class="dropdown-content">
	<a href="{{link4}}">{{link4}}</a>
	<p>{{disc4}}</p>
  </div>
</div>

<div class="dropdown dropdown-transition">
  <button class="dropdown-btn">{{title5}}</button>
  <div class="dropdown-content">
	<a href="{{link5}}">{{link5}}</a>
	<p>{{disc5}}</p>
  </div>
</div>


    </div>

</body>

</html>